---
layout: page
title: Case Studies
permalink: /case-studies/
---
<div class="case-studies-grid">
  {% for case in site.case-studies %}
    <div class="case-study-card">
      <a href="{{ case.url | relative_url }}">
        {% if case.image %}
          <img src="{{ case.image | relative_url }}" alt="{{ case.title }}">
        {% endif %}
        <h3>{{ case.title }}</h3>
        <p>{{ case.client }} - {{ case.year }}</p>
        <p class="industry">{{ case.industry }}</p>
      </a>
    </div>
  {% endfor %}
</div>